
@media (320px <= width <= 820px) {

    .navbar img{
        width: 120px;
    }
    .desknavbar {
        margin-left: 20px;
    }
    .display-flex{
        display: flex;
        flex-direction: column-reverse;
       padding: 20px;
    }
    .display-flex .col-left, .col-right{
        width:100%;
    }
    
}
@media (max-width: 480px) {
    .banner-slider h2 {
        font-size: 36px !important;
        line-height: 1.4em;
    }
    #carouselExampleFade .container{
        width: 100%;
        min-height: 90vh !important;
        padding: 20px 0 !important;
    }
    .ExpertSection .points{
        margin-top: 40px;
    }
    .ExpertSection .row{
        padding: 0 !important;
        margin: 0 !important;
    }
    .GatewaySection {
        padding-bottom: 10px !important;
    }

    .ipadPro-section .row .col-md-4{
        text-align: center !important;
    }
    .ipadPro-section .row .col-md-4 h1{
        font-size: 62px;
        line-height: 1.2em;
        text-align: center;
    }
    .ipadPro-section .row .col-md-4 h2{
        font-size: 24px;
        line-height: 1.3em;
    }
    .watchBand{
       margin: 0 !important;
        width: 100%;
    }
    .col.text-center.Bg-AntiflashWhite.px-3.pt-5.border.rounded-5 {
        width: 100%;
    }
    .accessory-section, .ServiceSection, .ContactSection, .GatewaySection, .FeaturedSection, .ExpertSection{
        padding: 40px 0 !important;
    }
    .ServiceSection .thumb img{
        width: 100%;
    }
    .accessory-section h2{
        font-size: 38px;
    }
    .GatewaySection h1{
        font-size: 62px;
        line-height: 1.2em;
    }
    .GatewaySection h2{
        font-size: 32px;
        line-height: 1.4em;
        margin: 15px 0 20px !important;
    }
    .difference-section .row{
        margin-top: 20px !important;
    }
    .Title-lg{
    font-size: 42px;
    }
    .product-item {
        margin: 0 auto;
        width: 280px;
    }
    .CallContact, .CallUs{
        display: none !important;
    }
    .marquee img{
        margin: 0 60px
    }
    .points li{
        font-size: 14px !important;
    }
    .mac24-desk{
        display: none;
    }
    .thumbtitle h2{
        font-size: 24px !important;
    }

    /* -------Mac 1 page ---- */
    .powerSection{
        padding-bottom: 40px;
    }
    .airM1-banner-section h2{
        font-size: 42px;
        line-height: 1.2em;
    }
    .airM1-banner-section h3{
        font-size: 20px;
        line-height: 1.2em;
        margin: 0 !important;
    }
    .airM1-banner-section button{
        margin: 50px 0;
    }
    section{
        padding: 0 10px;
    }
    .airM1-banner-section .row{
        padding: 40px 30px !important;
    }
    .powerSection p{
        width: 100% !important;
    }
    .g-5{
        gap:10px;
    }
    .home-section .display-flex{
        padding-left: 0 !important;
    }

}





















@media screen and (min-width: 769px) {

}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    /* STYLES HERE */
}

