
@media (320px <= width <= 820px) {

    .navbar img{
        width: 120px;
    }
    .desknavbar {
        margin-left: 20px;
    }
    .display-flex{
        display: flex;
        flex-direction: column-reverse;
       padding: 20px;
    }
    .display-flex .col-left, .col-right{
        width:100%;
    }
    
}
@media (max-width: 480px) {
    .banner-slider h2 {
        font-size: 36px !important;
        line-height: 1.4em;
    }
    #carouselExampleFade .container{
        width: 100%;
        min-height: 90vh !important;
        padding: 20px 0 !important;
    }
    .ExpertSection .points{
        margin-top: 40px;
    }
    .ExpertSection .row{
        padding: 0 !important;
        margin: 0 !important;
    }
    .GatewaySection {
        padding-bottom: 10px !important;
    }
    .owl-item.active{
        margin: 0 10px;
    }
    .ipadPro-section .row .col-md-4{
        text-align: center !important;
    }
    .ipadPro-section .row .col-md-4 h1{
        font-size: 62px;
        line-height: 1.2em;
        text-align: center;
    }
    .ipadPro-section .row .col-md-4 h2{
        font-size: 24px;
        line-height: 1.3em;
    }
    .watchBand{
       margin: 0 !important;
        width: 100%;
    }
  

}



















@media screen and (min-width: 769px) {

}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    /* STYLES HERE */
}

